
body {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  text-align: center;
  margin: 50px;
}

h1 {
  color: #3366cc;
}

button {
  padding: 10px 20px;
  background-color: #a7285d;
  color: rgb(8, 208, 234);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e70dc6;
}

